@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranSans;
  src: url(./assests/font/IRANSansX-Regular.woff);
  src: url(./assests/font/IRANSansXV.woff2);
  src: url(./assests/font/IRANSansX-Bold.woff);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family:iranSans ,sans-serif;
  /* direction: rtl; */
}