@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranSans;
  src: url(./assests/font/IRANSans.ttf), 
  url(./assests/font/IRANSans_UltraLight.ttf),
  url(./assests/font/IRANSans_Light.ttf),
  url(./assests/font/IRANSans_Medium.ttf),
  url(./assests/font/IRANSans_Bold.ttf);
  /* src: url(./assests/font/IRANSans_UltraLight.ttf);
  src: url(./assests/font/IRANSans_Light.ttf);
  src: url(./assests/font/IRANSans_Medium.ttf); */
  /* src: url(./assests/font/IRANSans_Bold.ttf); */
  /* src: url(./assests/font/IRANSans_Black.ttf); */
}

:root {
  --animate-duration: 600ms !important;
  /* --animate-delay: 0.20s; */
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* color: #1c202fbe; */
}

body{
  overflow-x: hidden;
  font-family:iranSans ,sans-serif !important;
  /* direction: rtl; */
}

body::-webkit-scrollbar{
  display: none;
}

.textShadow{
  -webkit-box-shadow: 0px 0px 45px 36px rgba(0,0,0,0.71), 
  2px 2px 1px rgba(86, 86, 86,0.12) inset; 

  box-shadow: 0px 0px 45px 36px rgba(0,0,0,0.71), 
    2px 2px 1px rgba(86, 86, 86,0.12) inset;
    width: 100%;
    backdrop-filter: blur(12px);
}

.eventSuggestions::-webkit-scrollbar{
display: none;
}

.imgEventDetail::before{
  position: absolute;
  content: "";
  top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.137)0%,
    rgba(0, 0, 0, 0.226)100%
    ),
    linear-gradient(180deg,rgba(0, 0, 0, 0.096)0%,transparent 100%);
}

.bgArchiveDetail::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: rgb(48,49,51);
  background: linear-gradient(264deg, rgba(48,49,51,0.7987570028011204) 8%, rgba(255,255,255,0) 100%);
}

.textOverFlow{
  white-space: normal !important; 
  width: 40%;
  height: 29%; 
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.bgDetailContent{
  -webkit-box-shadow: 9px 8px 18px 7px rgba(25,27,40,0.56); 
box-shadow: 9px 8px 18px 7px rgba(25,27,40,0.56);
/* color:#0c2ea7; */
}

.tooltip{
  font-family:iranSans
}

.sliderDeatilContent{
  position: absolute;
  left: 4px;
  right: 4px;
  width: 52%;
  height: 180px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
  background:transparent;
  display: flex;
  align-items: center;
  /* gap: 8px; */
  z-index: 3;
  background-color: red !important;
}

.slideDeatilContent{
  width: 120px;
  height: 160px;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  flex-direction: column;
  z-index: 4 !important;
}

.swiper-slide{
  width: 20px;
}

.sliderArchive{
  width: 165px !important;
  height: 220px !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  filter: brightness(75%);
  border-radius: 0.375rem; 
  position: relative;
  transition: all 0.2s ease;

}

.sliderArchive:hover{
  transition: all 0.2s ease;
  filter: brightness(100%);
}

.sliderArchive:focus{
  display: none;
}

.sliderArchiveActive{
  display: none;
}

/* .swiperContinerCategory::before,
.swiperContinerCategory::after{
  content: "";
  position: absolute;
  inset: 0;
  width: 50px;
  height: 100%;
  z-index: 3;
}

.swiperContinerCategory::before {
  right: 28px;
  background: rgb(28, 31, 46);
  background: linear-gradient(90deg, rgba(28, 31, 46, 0) 0%, rgba(28, 31, 46, 0.5914740896358543) 85%, rgba(28, 31, 46, 1) 100%);
}

.swiperContinerCategory::after {
  left: 28px;
  background: rgb(28, 31, 46);
  background: linear-gradient(270deg, rgba(28, 31, 46, 0) 0%, rgba(28, 31, 46, 0.5914740896358543) 85%, rgba(28, 31, 46, 1) 100%);
} */

.bgSound{
  background:url(./assests/img/sound-details__bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -20px;
  position: relative;
}

.bgSound::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 83%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(0deg, #191B28 -2.57%, rgba(25, 27, 40, 0) 93.15%);
  backdrop-filter: blur(1px);
}

.bgSound::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 70%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(0deg, #191B28 -2.57%, rgba(25, 27, 40, 0) 93.15%);
}

.bufferAudio{
  background: linear-gradient(180deg, #25293D -1.43%, rgba(18, 20, 31, 0.43) 101.43%);
  box-shadow: -1px -3px 1px -1px rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(12px);
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.thumb{
  background-color: #F0932B !important;
  padding: 2px;
  height: 15px !important;
  width: 15px !important;
}

.buttonFontIranMateraiUI{
  width:110px !important;
  color: #191B28 !important;
  font-family:iranSans ,sans-serif !important;
  padding: 8px 10px !important;
}